#root {
  display: block;
  width: 100%;
}
*/ textarea {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
}

.container {
  display: flex;
}
.left,
.right {
  width: 45%;
  margin: auto;
}

code {
  padding: 2px 4px;
  font-size: 0.9em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
